#user_picture{
  position: absolute;
  right: -30px;
  top: 3px;
  
}
#user_picture img{
  width:32px;
  height:32px;
}

.nav > .logged_in, .logged_in {
  display: none;
}

.oahu {
  visibility: hidden;
}

section {
  padding-top:60px;
}

.logged_in {
  list-style-type: none;
}

#debug_bar {
  padding: 10px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #ccc;
  opacity: 0.8;
  border-top: solid 2px #999;
}

#footer {
  margin-bottom: 100px;
}